.button{
    padding: 10px;
    margin: 10px;
    width: 60px;
    height: 30px;
    background:#f1f3f4;
    color:#202124;
    border: 1px solid#f1f3f4;
    border-radius: 4px;
}

.buttonC{
    padding: 10px;
    margin: 10px;
    width: 60px;
    height: 30px;
    background:#f1f3f4;
    color:#202124;
    border: 1px solid#f1f3f4;
    border-radius: 4px;
    font-size: xx-large;
}

.zero{
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 55px;
    background:#dfe1e5;
    color:#202124;
    border: 1px solid#dfe1e5;
    border-radius: 4px;
    box-sizing: border-box;
}

.equal{
    padding: 10px;
    margin: 10px;
    width: 90px;
    height: 120px;
    background:#dfe1e5;
    color:#202124;
    border: 1px solid#dfe1e5;
    border-radius: 4px;
    box-sizing: border-box;
}
.App {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.Body{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.Display{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    width: 420px;
    height: 80px;
    border: 2px solid #dfe1e5;
    box-sizing: border-box;
    border-radius: 4px;

}

.b1{
    width: 450px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.b2{
    width: 450px;
    height: fit-content;
    display: flex;
}

.b2a{
    width: 340px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.b2b{
    width: 100px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.b2a1{
    width: 340px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.b2a2{
    width: 340px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.register{
    display: flex;
    margin: 10px;
    width: 450px;
    height: 80px;
}

.operations{
    display: flex;
    margin: 10px;
    width: 340px;
    height: 80px;
}

.upDown{
    display: flex;
    margin: 10px;
    width: 100px;
    height: 80px;
    flex-direction: column;
    justify-content: flex-end;
}

.arrow{
    text-align: center;
}